h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: space-around;
}
img{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 120px;
    width: 100px
    
}